 footer {
    /* background-color: #00FF00; */
    /* color: white; */
    border: 1px #CCCCCC ;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }