header {
    /* background-color: #FF0000; */
    color: white;
    border: 1px #CCCCCC ;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
